.venv
algorithm/__pycache__/
.idea/
data/name_gender/data_R
data/name_gender/SSA_data
data/name_gender/names
data/name_gender/namesbystate
data/name_gender/namesbyterritory
*.zip
data/Australian_electricity
data/tourism
data/sales
data/crypto_online
data/databento
data/crypto-forecasting
*.data
data/stocks_online_second